<!-- spacer section -->
<section class="spacer green">
  <div class="container">
    <div class="row">
      <div class="span6 alignright flyLeft">
        <blockquote class="large">
           If time travel is possible, where are the tourists from the future? <cite>Stephen Hawking, A Brief History of Time</cite>
        </blockquote>
      </div>
      <div class="span6 aligncenter flyRight">
        <img src="/icons/rocket.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
  <div class="container">
    <h4>Introduction</h4>
    <div class="row">
      <div class="span4 offset1">
        <div id="about-description" contenteditable="true" data-usercontext=<%= current_user.context ? current_user.context.id : false %> >
          <p class="justify">
            <% if current_user.context && current_user.context.aboutDescription != nil %>
              <%= simple_format(current_user.context.aboutDescription) %>
            <% else %>
              Here you can write a message to send to the future. <br><br>
              It could be to anyone, even yourself. <br><br>
              The objetive is to create a dinamic time line that describe in the cooles way everything that is importan to you. <br>
            <% end %>
          </p>
        </div>
      </div>
      <div class="span6">
        <div class="aligncenter">
          <% if (current_user.context && current_user.context.aboutPicture != "") %>
            <img class="team-thumb img-circle" src=<%= current_user.context.aboutPicture %> alt="MyLine" />
          <% else %>
            <!-- <img class="team-thumb img-circle" src='/icons/creativity.png' alt="" /> -->
            <iframe width="420" height="315" src="https://www.youtube.com/embed/ubdWitOk6zQ" frameborder="0" allowfullscreen></iframe>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: tellers -->
<section id="tellers" class="section orange">
  <div class="container">
    <h4>Tellers</h4>
    <p style="text-align: center;">
       This are the people who help to tell the stories of your TimelLne.
    </p>
    <!-- Four columns -->
    <div class="row offset1">

      <% @user.tellers.first(5).each_with_index do | teller, index| %>

        <div class="span2 flyIn" >
          <div class="people">
            <img class="team-thumb img-circle" src=<%= teller.avatar %> alt="" />
            <h3><%= teller.name %></h3>
            <p>
              <%= teller.title %>
            </p>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</section>
<!-- end section: tellers -->
<!-- section: line -->
<section id="line" class="section">
  <div class="container clearfix">
    <h4>My Line</h4>
    <!-- portfolio filter -->
    <div class="row">
      <div id="filters" class="span12">
        <ul class="clearfix">
          <li><a data-filter="*">
          <h5>All</h5>
          </a></li>
          <li><a data-filter="first">
          <h5>First</h5>
          </a></li>
          <li><a data-filter="activity">
          <h5>Activities</h5>
          </a></li>
          <li><a data-filter="custom">
          <h5>Customs</h5>
          </a></li>
          <li><a data-filter="trip">
          <h5>Trips</h5>
          </a></li>
        </ul>
        <input id="search_filter" type="text" placeholder="Search by tag...">
        <br>
        <button id="uploadImage" class="uploadImage btn btn-theme">Upload image</button>
        <br>
        <div id="notFoundMessage" class="alert alert-danger" hidden>
          <strong>Sorry!</strong> There are no stories under this Tag.
        </div>

      </div>
      <!-- END PORTFOLIO FILTERING -->
    </div>
      <div class="span12">
        <div class="timeline-wrapper clearfix">
            <div class="timeline-content-day">
                <div class="timeline-line"></div>
                <button id="prev" class="btn btn-theme corousel-btn prev" style="display: none;" >Prev</button>
                <% @user.stories.order('date ASC').limit(5).each_with_index do | story, index| %>
                  <!-- portfolio item -->
                  <div class="timeline-content-item" data-timeline="hour-8">
                      <span><%= story.date.strftime("%Y %b %d") %></span>
                      <div class="timeline-content-item-reveal">
                          <a class="pop" >
                              <img src=<%= (story.image || story.avatar.url) %> alt=<%= "#{story.name}" %> data-imageTag=<%= story.tag.to_json %> data-storyId=<%= "story_"+story.id.to_s %>>
                              <span><%= story.name %></span>
                          </a>
                      </div>
                  </div>
                  <!-- end portfolio item -->
                <% end %>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- spacer section -->
<style>
<% if @user.context && @user.context.parallaxPicture != nil %>
  section.spacer.bg3 {
    background: #444 url(<%= @user.context.parallaxPicture.url %>) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
<% else %>
  section.spacer.bg3 {
    background: #444 url('/bg/bg-5.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
<% end %>
</style>
  <section class="spacer bg3" id="cover2">
     <% if user_signed_in? && current_user.context %>
        <button id="update-parallaxPicture" class="pull-left" data-contextid=<%= current_user.context.id %> hidden>Update Parallax Picture</button><br>
    <% else %>
        <button id="update-parallaxPicture" class="pull-left" data-contextid=<%= false %> hidden>Update Parallax Picture</button><br>
    <% end %>
  <div class="container">
    <div class="row">
      <div class="span12 aligncenter flyLeft">
        <blockquote class="large">
           We are the link between our present and your future
        </blockquote>
      </div>
      <div class="span12 aligncenter flyRight">
        <i class="icon-rocket icon-10x"></i>
      </div>
    </div>
  </div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<!-- <section id="blog" class="section">
  <div class="container">
    <h4>Blog</h4>-->
    <!-- Three columns -->
 <!--    <div class="row">
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <img class="max-img" src="/blog/img1.jpg" alt="" />
          </div>
          <div class="post-meta">
            <i class="icon-file icon-2x"></i>
            <span class="date">June 19, 2013</span>
            <span class="tags"><a href="#">Design</a>, <a href="#">Blog</a></span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">New design trends</a></strong></h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
            </p>
            <a href="#" class="more">Read more</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <img class="max-img" src="/blog/img2.jpg" alt="" />
          </div>
          <div class="post-meta">
            <i class="icon-file icon-2x"></i>
            <span class="date">June 19, 2013</span>
            <span class="tags"><a href="#">Design</a>, <a href="#">News</a></span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Retro is great</a></strong></h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
            </p>
            <a href="#" class="more">Read more</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <img class="max-img" src="/blog/img3.jpg" alt="" />
          </div>
          <div class="post-meta">
            <i class="icon-file icon-2x"></i>
            <span class="date">June 22, 2013</span>
            <span class="tags"><a href="#">Design</a>, <a href="#">Tips</a></span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Isometric mockup</a></strong></h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
            </p>
            <a href="#" class="more">Read more</a>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <img class="max-img" src="/blog/img4.jpg" alt="" />
          </div>
          <div class="post-meta">
            <i class="icon-file icon-2x"></i>
            <span class="date">June 27, 2013</span>
            <span class="tags"><a href="#">News</a>, <a href="#">Tutorial</a></span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Free icon set</a></strong></h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
            </p>
            <a href="#" class="more">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blankdivider30"></div>
    <div class="aligncenter">
      <a href="#" class="btn btn-large btn-theme">More blog post</a>
    </div>
  </div>
</section> -->

<div class="modal fade bs-example-modal-lg" id="uploader-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" hidden>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">

        <div class="closeBtn"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button></div>
        <div class="col-md-8 text-center"><b> Upload Image </b></div>
        <br>

        <%= form_for [current_user,Story.new] do |f| %>
          <div class="field" id="drop" draggable="true">
            <p> Drop Here </p><br>
            <a> Browse </a>
            <%= f.label :file %><br />
            <%= f.file_field :avatar, required:'' %>
          </div>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, required:'', size:"20" %>
          </div>

          <div class="field" >
            <%= f.label :date %><br />
            <%= f.date_field :date, size:"20", required:'' %>
          </div>

          <div class="field" id="tagContainer">
            <div class="field">
              <%= f.label :tag %><br />
              <%= f.text_field :tag, size:"20", required:'' %>
            </div>
          </div>
          <br>

          <div class="field" hidden>
            <%= f.label :user_id %><br />
            <%= f.text_field :user_id, :value => current_user.id, size:"20" %>
          </div>


          <%= f.submit %>
        <% end %>

      </div>
    </div>
  </div>
</div>
